.container{
    border: solid;
    width: 60%;
    max-width: 600px;
    height: 80%;
    max-height: 1000px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #c5a5ff;
    margin-top: 50px;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f074d;
    background-position: cover;
    height: 100vh;
    font-family: ;
}
.game,h1{
    margin: 30px;
    border: solid 0.5px;
    font-size: 30px;
    color: #c5a5ff;
    padding: 5px;
    background: #190b33 ;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
}
h1{
    background: #160a31;
    color: rgb(202, 174, 255);
}
.choice{
    border: solid;
    padding: 15px;
    background-color:deepskyblue;
}
#labelforchoice{
    font-weight: 600;
    font-family: verdana;
    color: rgb(4, 3, 37);
}
button{
    display: block;
    
    -webkit-transform: translateX(120%);
    -moz-transform: translateX(120%);
    -ms-transform: translateX(120%);
    -o-transform: translateX(120%);
    transform: translateX(120%);
    
    margin: 15px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    padding: 5px;
}
