
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ece8ae;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #97d3d3;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #6b4f4f;
    border-radius: 3px;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background: rgb(231, 226, 153);
}
.delete-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
.delete-btn:hover {
    background-color: #d32f2f;
}
.add-btn:hover {
    background-color: #661c91;
}
.add-btn {
    background-color: #5d4da1;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
