
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(197, 219, 243);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(245, 240, 193);
}

.btn-container {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}
.btn:active  {
    background-color: #d48b8b;
}

.hide {
    display: none;
}

